.venv
db.sqlite3
api/__pycache__
posts/__pycache__
cart/__pycache__
extras/__pycache__
orders/__pycache__
payments/__pycache__
wishlist/__pycache__
stores/__pycache__
cart/migrations/__pycache__
payments/migrations/__pycache__
posts/migrations/__pycache__
orders/migrations/__pycache__
wishlist/migrations/__pycache__
extras/migrations/__pycache__
stores/migrations/__pycache__

