# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.myenv/
env/
myenv/

# Django stuff
*.sqlite3
*.log
db.sqlite3

# Migrations (optional to ignore if you regenerate often)
**/migrations/__pycache__/

# System files
.DS_Store
Thumbs.db
